{% extends 'base.html.twig' %}

{% block title %}All Orders
{% endblock %}

{% block body %}

	<div class="row my-5">
		<div class="col-md-10 mx-auto">
			{% for message in app.flashes('success') %}
				<div class="alert alert-success mt-4">
					{{ message }}
				</div>
			{% endfor %}
			<div class="card">
				<div class="card-header d-flex justify-content-between align-items-center">
					<span>Orders</span>

					<div class="card-body">
						<table class="table  table-bordered table-hover">
							<thead>
								<tr>
									<th>Order ID</th>
                                    <th>UserName</th>
									<th>Product Name</th>
									<th>Price</th>
									<th>Status</th>
                                    <th>Action</th>
								</tr>
							</thead>
							<tbody>
                                {% set sum = 0 %}
								{% for order in orders %}
                                {% set sum = sum + order.price %}
									<tr>
                                        <td>{{ order.id }}</td>
                                        <td>{{order.user.username}}</td>
										
										<td>
											{{ order.pname }}
										</td>
										<td>{{ order.price }}</td>
										<td>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
   {{order.status}}
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{{path('app_order_status' , {order : order.id , status : 'shipped'})}}">shipped</a></li>
    <li><a class="dropdown-item" href="{{path('app_order_status' , {order : order.id , status : 'reject'})}}">reject</a></li>
  </ul>
</div>



                                        </td>
                                        <td>
                                            <form id="{{order.id}}" action="{{path('app_order_delete' , { order : order.id})}}" method="post" ></form>
			                                <button onclick="deleteItems('{{order.id}}')" class=" btn btn-danger btn-sm">delete</button>
                                        </td>
									</tr>
								{% endfor %}
                                <tr>
                                    <th colspan="3">Totale</th>
                                    <th class=" fw-bold">{{sum}} DH</th>
                                </tr>
							</tbody>
						</table>


					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
